@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #f0707d;
  --color-secondary: #fff;
  --color-accent: #fff3f5;
  --text-primary:#000;
  --text-secondary:#fff;
  --text-pink:#f0707d;
}